@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:quicksand;
}


#routine-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

#routine-container{
    background-color: slategrey;
    margin: 20px;
    padding: 30px;
}